@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply flex min-h-screen flex-col;
  }

 :root {
  --color-default: white;
}
@media (prefers-color-scheme: dark){
	:root{
		--color-default: #252b30;
	}
}
[data-theme='dark'] {
  --color-default: #252b30;
  --background-primary: url("/images/backgrounds/brilliant.png");

}
[data-theme='ONE'] {
  --color-default: red;
  --background-primary: url("/images/backgrounds/backd.png");
}
[data-theme='TWO'] {
  --color-default: white;
  --background-primary: url("/images/192.png");
}

body {
	background-color: var(--color-default);
  background-image: var(--background-primary);

}


  main {
    @apply flex-1;
  }

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }

  .button {
    @apply flex items-center justify-center; 
    @apply bg-black/90;
    @apply py-3 px-8 text-base font-medium text-white;
    @apply transition hover:opacity-80;
    @apply focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-1;
    @apply disabled:cursor-not-allowed disabled:opacity-60;
  }
}
