primary = white
secondary = #1D3963
tertirary = #394E32
primary-font = white
secondary-font = #1D3963
tertirary-font = #4b5563
primary-background = url("/dark-primary-background.png")
secondary-background = url("/brilliant.png")
 
.primary 
    color : primary
.secondary 
    color : secondary  
.tertiary  
    color : tertiary  
.primary-background
    url("/dark-primary-background.png")
.secondary-background 
    background-image url("/brilliant.png")
    padding: 100px
.primary-button 
   background: tertirary
   color: black

.warning {
  @extend .primary;
  color: #E2E21E;
}

[data-theme='ONE']
  --color-default #222222
  --background-primary url("/dark-primary-background.png")
  --background-secondary url("/brilliant.png")
  --font-primary red
  --font-secondary url("/images/logos/ONE.svg")
  --font-tertiary url("/images/logos/ONE.svg")
  --logo url("/src/assets/images/logo.png")

[data-theme='TWO']
  --color-default white
  --background-primary url("/light-primary-background.png")
  --background-secondary url("/transparent-background.png")
  --logo url("/images/logos/ONE-black.svg")

[data-theme='hilltribe']
  --color-default #27372E
  --font-primary #111111
  --background-primary url("/dark-primary-background.png")
  --background-secondary url("/transparent-background.png")
  --logo url("/src/assets/images/hilltribe/logo-icon.png")

[data-theme='synthwave']
  --background-primary url("/transparent-background.png")
  --background-secondary url("/transparent-background.png")
  --logo url("src/assets/images/hilltribe/logos/ONE.svg")

body
  background-color var(--color-default)
  background-image var(--background-primary)

.bg-base-100
    background-color var(--color-default)
    background-image var(--background-secondary)

.logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: var(--logo) no-repeat;
  width: 50px; /* Width of new image */
  height: 50px; /* Height of new image */
  padding-left: 125px; /* Equal to width of new image */
}

.hilltribe 
  height 100px


.primary-font
  color var(--primary-font)


