@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply flex min-h-screen flex-col;
  }

 :root {
  --color-default: red;
}
@media (prefers-color-scheme: dark){
	:root{
		--color-default: #252b30;
	}
}
[data-theme='dark'] {
  --color-default: #252b30;
}
[data-theme='black'] {
  --color-default: #000000;
}
[data-theme='🌸'] {
  --color-default: #ffabc8;
}
[data-theme='🐬'] {
  --color-default: #7ec6ff;
}
[data-theme='🐤'] {
  --color-default: #ffd65a;
}
body {
	background-color: var(--color-default);
}

  main {
    @apply flex-1;
  }

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }

  .button {
    @apply flex items-center justify-center; 
    @apply bg-black/90;
    @apply py-3 px-8 text-base font-medium text-white;
    @apply transition hover:opacity-80;
    @apply focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-1;
    @apply disabled:cursor-not-allowed disabled:opacity-60;
  }
}
