---
const title = "Blocks";
const description = "ONE";
const keywords = "blocks";
const category = "Build";
import Layout from "@layouts/layout.astro";
import Button from "@blocks/button.astro";
import Accordian from "@blocks/accordian.astro";
import Avatar from "@blocks/avatar.astro";
---

<Layout title={title}>
  <Button>Tailwind Button in Astro!</Button>
  <Avatar />
  <Accordian />
</Layout>
