---
const title = "ONE Demo";
const description = "Live Demo of ONE";
const keywords = "AI, astro";
const relatedto = "creator, consumer, partner, helper"
const category = "Home";
import Layout from "@layouts/layout.astro";
import Header from "@sections/header.astro";
import Footer from "@sections/footer.astro";
import Figma from "@figma/Blog2";
import Button from '@blocks/button-buy'



---
<Layout title={title}>
  <Header />
<h1>Demo</h1>
<Figma />
    <Footer />
</Layout>
