---
const title = "Hilltribe Life";
const description = "Make The World Yours.";
const keywords = "AI";
const relatedto = "creator, consumer, partner, helper"
const category = "Home";
import Layout from "@layouts/layout.astro";
import Header from "@sections/header-hilltribe.astro";
import Footer from "@sections/footer.astro";
import Hero from "@sections/hero-hilltribe.astro";
import Button from '@blocks/button-buy'

interface Product {
  id: number
  title: string
  description: string
  price: number
}

let products: Array<Product>

products = [
  {
    id: 0,
    title: 'Karen Hilltribe Baag',
    description: 'Product one description',
    price: 49.99,
  },
]


---
<Layout title={title}>
  <Header />
<section class="py-12 md:py-32">
  <div class="container mx-auto px-4">
    <div class="max-w-md md:max-w-none mx-auto">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/2 px-4 mb-12 md:mb-0">
          <div class="max-w-3xl">
            <div class="lg:flex h-full">
              <div class="lg:flex-shrink-0 lg:w-20 mb-5 lg:mb-0 lg:mr-6">
                <div class="flex flex-row lg:flex-col">
                  <a class="block lg:mb-4 mr-4 lg:mr-0" href="#">
                    <img class="block h-32 w-20 object-cover" src="https://static.shuffle.dev/uploads/files/03/037c107eb543b50eb8f9314c941d84cc804a8f36/sho-bag.jpg" alt="">
                  </a>
                  <a class="block lg:mb-4 mr-4 lg:mr-0" href="#">
                    <img class="block h-32 w-20 object-cover" src="https://static.shuffle.dev/uploads/files/03/037c107eb543b50eb8f9314c941d84cc804a8f36/1690633704189.jpg" alt="">
                  </a>
                  <a class="block" href="#">

                  </a>
                </div>
              </div>
              <div>
                <img class="block h-full w-full" src="https://static.shuffle.dev/uploads/files/03/037c107eb543b50eb8f9314c941d84cc804a8f36/1690633704189.jpg" alt="" style="max-height: 840px;">
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 px-4">
          <div class="max-w-md mx-auto">
            <h3 class="font-heading text-4xl text-white font-bold mb-2" contenteditable="false">Hilltribe Bag<br></h3>
            <span class="block text-2xl font-bold text-white mb-8">$49.00</span>

            <div class="flex mb-6 items-center border-b border-blueGray-800">
              <span class="block mr-auto font-bold text-white">Quantity</span>
              <select class="py-4 bg-transparent border-0 font-medium placeholder:text-gray-400 text-gray-400 outline-none" name="" id="" placeholder="1" style="max-width: 60px;">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            {products.map((product) => <Button product={product} client:load />)}

            <span class="text-sm text-gray-500" contenteditable="false">Free Shipping &amp; Returns Worldwide.</span>
            <h5 class="mt-8 mb-3 text-xl font-bold text-white" contenteditable="false">Description</h5>
            <p class="text-gray-400 mb-6" contenteditable="false">Organic cotton bag<br></p>
            <ul class="pl-4 list-disc text-gray-300">
              <li class="mb-1" contenteditable="false">Very nice<br></li>
              <li class="mb-1">Spacious interior with top zip</li>
              <li class="mb-1">Leather handle and tabs</li>
              <li class="mb-1">Interior dividers</li>
              <li>Stainless strap loops</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</section>   <Footer />
</Layout>
