---
import Layout from '../layouts/Layout.astro';
const title="test"
const description="test"
const keywords="test"
import Button from '../components/Button.astro';


---
<Layout title={title}>
			<Button>Tailwind Button in Astro!</Button>
			<button class="btn btn-primary">Button</button>
			<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
</Layout>
		