---
const title = "ONE";
const description = "ONE";
const keywords = "AI";
const category = "Home";
import Layout from "@layouts/layout.astro";
import Button from "@blocks/button.astro";
---

<Layout title={title}>
	<h2>Button</h2>
  <Button>Tailwind Button in Astro!</Button>
  <div class="h2"></div>
    <a class="btn" href="/blocks">Blocks</a>
  <a class="btn" href="/markdown">Markdown Page</a>
</Layout>
