---
import Layout from '../layouts/layout.astro';
const title="ONE"
const description="ONE"
const keywords="AI"
import Button from '../blocks/button.astro';


---
<Layout title={title}>
			<Button>Tailwind Button in Astro!</Button>
			<a class="btn" href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
</Layout>
		