html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000", rel="stylesheet")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="py-12 md:py-32 bg-black")
                div(class="container mx-auto px-4")
                    div(class="max-w-md md:max-w-none mx-auto")
                        div(class="flex flex-wrap -mx-4")
                            div(class="w-full md:w-1/2 px-4 mb-12 md:mb-0")
                                div(class="max-w-3xl")
                                    div(class="lg:flex h-full")
                                        div(class="lg:flex-shrink-0 lg:w-20 mb-5 lg:mb-0 lg:mr-6")
                                            div(class="flex flex-row lg:flex-col")
                                                a(class="block lg:mb-4 mr-4 lg:mr-0", href="#")
                                                    img(class="block h-32 w-20 object-cover", src="images/sho-bag.jpg", alt="")
                                                |                         
                                                a(class="block lg:mb-4 mr-4 lg:mr-0", href="#")
                                                    img(class="block h-32 w-20 object-cover", src="images/1690633704189.jpg", alt="")
                                                |                         
                                                a(class="block", href="#")                           
                                                |                         
                                        div
                                            img(class="block h-full w-full", src="images/1690633704189.jpg", alt="", style="max-height: 840px;")
                            div(class="w-full md:w-1/2 px-4")
                                div(class="max-w-md mx-auto")
                                    h3(class="font-heading text-4xl text-white font-bold mb-2") Hilltribe Bag
                                    |       
                                    span(class="block text-2xl font-bold text-white mb-8") $49.00
                                    div(class="flex mb-6 items-center border-b border-blueGray-800")
                                        span(class="block mr-auto font-bold text-white") Quantity
                                        select(class="py-4 bg-transparent border-0 font-medium placeholder:text-gray-400 text-gray-400 outline-none", name="", id="", placeholder="1", style="max-width: 60px;")
                                            option(value="1") 1
                                            option(value="2") 2
                                            option(value="3") 3
                                    a(class="block px-8 py-3 mb-4 text-center text-black font-bold bg-yellow-500 hover:bg-yellow-600", href="#") Buy
                                    |                   
                                    span(class="text-sm text-gray-500") Free Shipping & Returns Worldwide.
                                    h5(class="mt-8 mb-3 text-xl font-bold text-white") Description
                                    p(class="text-gray-400 mb-6") Organic cotton bag
                                    |       
                                    ul(class="pl-4 list-disc text-gray-300")
                                        li(class="mb-1") Very nice
                                        |       
                                        li(class="mb-1") Spacious interior with top zip
                                        li(class="mb-1") Leather handle and tabs
                                        li(class="mb-1") Interior dividers
                                        li Stainless strap loops
