<footer class="text-sm text-gray-600">
  <div class="container grid items-center gap-5 py-8 sm:flex sm:gap-10">
    Powered by ONE <a aria-label="ONE" href="https://pagespeed.web.dev/analysis/https-shop-one-ie-products-vintage-teak-armchair-with-green-tweed-fabric/y1rx4kyc03?form_factor=mobile">100% performance</a>
    </div>
  </div>
</footer>
