<div class="collapse bg-base-200">
  <input type="radio" name="my-accordion-1" checked="checked" />
  <div class="collapse-title text-xl font-medium">
Description  </div>
  <div class="collapse-content">
    <p>Authentic Karnen Hilltribe Bag made from organic cotton.
      Handmade with love from ancient designs.
    </p>
  </div>
</div>
<div class="collapse bg-base-200">
  <input type="radio" name="my-accordion-1" />
  <div class="collapse-title text-xl font-medium">
Shipping
  </div>
  <div class="collapse-content">
    <p>We have free shipping worldwide</p>
  </div>
</div>
<div class="collapse bg-base-200">
  <input type="radio" name="my-accordion-1" />
  <div class="collapse-title text-xl font-medium">
Guarantee  </div>
  <div class="collapse-content">
    <p>We guarantee that these products are handmade and the person who made it earns the majority of sales. We guarantee all products are natural and organic. If a product is damaged or if you don't like the product in any way we promise to give you a full refund. Just post it to us and you will receive a refund the day it arrives. </p>
  </div>
</div>
