<div>
  <button
    data-act-class="shadow-outline"
    data-set-theme="ONE"
    class="btn btn-primary focus:outline-none m-1 rounded p-2">ONE</button
  >
    <button
    data-act-class="shadow-outline"
    data-set-theme="TWO"
    class="btn btn-primary focus:outline-none m-1 rounded p-2">TWO</button
  >
  <button data-set-theme="synthwave" class="btn btn-primary focus:outline-none m-1 rounded p-2"
    >Synthwave</button
  >
</div>
