<div>
<button
  data-act-class="shadow-outline"
  data-set-theme=""
  class="btn btn-primary focus:outline-none m-1 rounded p-2">Default</button
>
<button
  data-act-class="shadow-outline"
  data-set-theme="dark"
  class= "btn btn-primary focus:outline-none m-1 rounded p-2">Dark</button
>
<button
  data-act-class="shadow-outline"
  data-set-theme="ONE"
  class="btn btn-primary focus:outline-none m-1 rounded p-2">ONE</button
>
<button
  data-act-class="shadow-outline"
  data-set-theme="TWO"
  class="btn btn-primary focus:outline-none m-1 rounded p-2">Two</button
>
    <button data-set-theme="light" class="btn btn-primary focus:outline-none m-1 rounded p-2">Light</button>
    <button data-set-theme="dark" class="btn btn-primary focus:outline-none m-1 rounded p-2">Dark</button>
    <button data-set-theme="cupcake" class="btn btn-primary focus:outline-none m-1 rounded p-2">Cupcake</button>
    <button data-set-theme="bumblebee" class="btn btn-primary focus:outline-none m-1 rounded p-2">Bumblebee</button>
    <button data-set-theme="emerald" class="btn btn-primary focus:outline-none m-1 rounded p-2">Emerald</button>
    <button data-set-theme="corporate" class="btn btn-primary focus:outline-none m-1 rounded p-2">Corporate</button>
    <button data-set-theme="synthwave" class="btn btn-primary focus:outline-none m-1 rounded p-2">Synthwave</button>
    <button data-set-theme="retro" class="btn btn-primary focus:outline-none m-1 rounded p-2">Retro</button>
    <button data-set-theme="cyberpunk" class="btn btn-primary focus:outline-none m-1 rounded p-2">Cyberpunk</button>
    <button data-set-theme="valentine" class="btn btn-primary focus:outline-none m-1 rounded p-2">Valentine</button>
    <button data-set-theme="halloween" class="btn btn-primary focus:outline-none m-1 rounded p-2">Halloween</button>
    <button data-set-theme="garden" class="btn btn-primary focus:outline-none m-1 rounded p-2">Garden</button>
    <button data-set-theme="forest" class="btn btn-primary focus:outline-none m-1 rounded p-2">Forest</button>
    <button data-set-theme="aqua" class="btn btn-primary focus:outline-none m-1 rounded p-2">Aqua</button>
    <button data-set-theme="lofi" class="btn btn-primary focus:outline-none m-1 rounded p-2">Lofi</button>
    <button data-set-theme="pastel" class="btn btn-primary focus:outline-none m-1 rounded p-2">Pastel</button>
    <button data-set-theme="fantasy" class="btn btn-primary focus:outline-none m-1 rounded p-2">Fantasy</button>
    <button data-set-theme="wireframe" class="btn btn-primary focus:outline-none m-1 rounded p-2">Wireframe</button>
    <button data-set-theme="black" class="btn btn-primary focus:outline-none m-1 rounded p-2">Black</button>
    <button data-set-theme="luxury" class="btn btn-primary focus:outline-none m-1 rounded p-2">Luxury</button>
    <button data-set-theme="dracula" class="btn btn-primary focus:outline-none m-1 rounded p-2">Dracula</button>
    <button data-set-theme="cmyk" class="btn btn-primary focus:outline-none m-1 rounded p-2">CMYK</button>
    <button data-set-theme="autumn" class="btn btn-primary focus:outline-none m-1 rounded p-2">Autumn</button>
    <button data-set-theme="business" class="btn btn-primary focus:outline-none m-1 rounded p-2">Business</button>
    <button data-set-theme="acid" class="btn btn-primary focus:outline-none m-1 rounded p-2">Acid</button>
    <button data-set-theme="lemonade" class="btn btn-primary focus:outline-none m-1 rounded p-2">Lemonade</button>
    <button data-set-theme="night" class="btn btn-primary focus:outline-none m-1 rounded p-2">Night</button>
    <button data-set-theme="coffee" class="btn btn-primary focus:outline-none m-1 rounded p-2">Coffee</button>
    <button data-set-theme="winter" class="btn btn-primary focus:outline-none m-1 rounded p-2">Winter</button>
</div>
