
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">ONE</h1>
      <p class="py-6">Sell anything at the edge. Faster. For Free. MIT License. </p>
      <button class="btn btn-primary">Sell Now</button>
    </div>
  </div>
</div>